*{
    margin: 5px;
    padding: 5px;
    text-align: center;
}
body{
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 7%;
}
nav{
    position:fixed;
    left:0;
    top:0;
    right:0;
    background-color: #fff;
    padding:0 2em;
    border-bottom: 1px solid black;
}
nav a{
    color:#000;
    text-decoration: none;
}
nav img{
    width:50%;
    
    
}
nav ul{
    float:right;
    margin-top: 3%;
}
nav ul li{
    display: inline-block;
    margin:1em;
}
.main-container{
    max-width: 1440px;
    padding: 2em 3em;
    box-shadow: 10px 10px 5px #888888;
    
}


div{
    display: block;
    unicode-bidi: isolate;
}
.maincontent{
    text-align: left;
    margin: 0;
    padding:0;
    width:400px;
    height: 100%;
}

.section{
    background-color: #f4f4f4;
    box-shadow: 20px 25px 35px #888888;
    padding:10px;
    margin:0 25px 25px 0;
    position:relative   

}
main{
    width:100%;
}
main article img.hero{
    width:100%;
    
    
}

.imagegroup div{
    width:100%;
}
.imagegroup div img{
    width:100%;
}
article h2{
    font-size: 1.2em;
    background: #f4f4f4;
    color:#000;
    padding:3px;
    text-align: center;
    text-transform: uppercase;
}
article p a{
    display: block;
    color: #fff;
    background-color: aquamarine;
    text-align: center;
    padding:10px;
}
footer{
    color:black;
    padding:3px;
    text-align: center;
}
@media screen and (min-width:300px ) and (max-width:700px){
    header{
        padding:6em;
    }
    img{
        width:100%
    }
    ul{
        flex-direction: column;
        align-items:flex-start;   
    }
    li{
        margin: 5px,0;
        font-family: fantasy;
    }
    main{
        margin:0;
        padding: 0;
    }
}
@media screen and (min-width:701px) and (max-width:1500px){
    header{
        margin-top: 10px;
    }
    nav img{
        width:70%;
        margin-left:25px;
        text-align: center;
    }
}
@media screen and (min-width:1501px){
    header{
        width:100%;
        overflow: hidden;
    }
    header h1{
        display:block;
    }    
}